<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CONTACT US</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--
      Need a visual blank slate?
      Remove all code in `styles.css`!
    -->
    <link rel="stylesheet" href="styles.css" />
  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="style.css" />
    <script type="module" src="script.js"></script>
  </head>
  <body class="container-fluid">

    <p> </p>

 <p> </p>
   <p> </p>

    <header class="container-fluid">  <h1 class ="text-center"> <p> <i> <u> <b> CONTACT US </b> </u> </i> </p> </h1> 
      <p> </p>
      <p> </p>
      <p> </p>
      </header>

        <p> </p>
        <p> </p>
    <main class="container-fluid"> <h3 class="text-danger"> <p> <b> GET READY TO CELEBRATE IN STYLE! </h3> </b> </p>

     <p> <h6 class="text-info">
     LOOKING FOR THE PERFECT TOUCH FOR YOUR NEXT SPECIAL EVENT? WE'VE GOT YOU COVERED! </p> </h6>
      
    <p> <b> <h4 class="text-danger"> CONNECT WITH US TODAY! </b> </p> </h4>
      
    <p> <h5 class="text-info">  FILL OUT OUR CONTACT FORM AND LET US HELP YOU TURN YOUR VISION INTO REALITY!

    <p>  REACH OUT NOW AND LET’S CREATE SOME MAGIC TOGETHER!</p>
      
    <p> <b> <ul> <li> HAVE QUESTIONS?  </b> NEED ADVICE? WE’RE JUST A CLICK AWAY! </p> </ul> </li>
      
    <p> <b> <ul> <li> ADVISE: </b>   DON’T MISS OUT ON MAKING YOUR EVENT UNFORGETTABLE! </p> </ul> </li> </h5>

      </main>
      <form
  action="mailto:enquiries@spezialdays.co.uk?subject=Enquiry}&body=${encodeURIComponent(
            `Name: ${name}\nEmail: ${email}\n Address: ${address}\n${postcode}\n${city}\nMessage:\n${enquiry}"
  id="contact-form"
>
  <div class="form-row" style="margin-top: 5px; margin-bottom: 5px">
    <div class="col">
      <input
        id="name"
        type="text"
        class="form-control"
        required="true"
        placeholder="Name"
      />
    </div>
  </div>
  <div class="form-row" style="margin-top: 5px; margin-bottom: 5px">
    <div class="col-7">
      <input
        id="address"
        type="text"
        class="form-control"
        placeholder="Address"
      />
    </div>
    <div class="col">
      <input
        id="postcode"
        type="text"
        class="form-control"
        placeholder="Postcode"
      />
    </div>
  </div>
  <div class="form-row" style="margin-top: 5px; margin-bottom: 5px">
    <div class="col">
      <input
        id="email"
        type="email"
        required="true"
        class="form-control"
        placeholder="Email Address"
      />
    </div>
  </div>
    </div>
    <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>

</main>   
<script src="check.js"></script>

      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>

      <h2> <b> OTHER WAYS TO CONTACT US </b> </h2>

      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>

<!-- Google Map -->
  <div class="container" style="height:550px;">
    <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.8791240966752!2d-0.41472552317824973!3d51.51543357181517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48766d7d4bd8cc51%3A0xea0b8d17c2dfeb5!2sUxbridge%20College%20-%20Hayes%20Campus!5e0!3m2!1sen!2suk!4v1730325334908!5m2!1sen!2suk"width="100%" style="height:100%;" class= "align-middle"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </iframe>
  </div>
    <p> </p>



    
  </body>
  <footer style="position:fixed;bottom:0" class="container-fluid border text-light bg-secondary"> <b> &copy; VISIT US IN-STORE AND LET US HELP YOU CREATE THAT PERFECT GIFT-GIVING EXPERIENCE. </b>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
